<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <table>
  <th>Name</th>
  <th>Release Date</th>
  <!-- get json obj -->
  <!-- json.each
          put in name/ release date
        end -->
  </table>
</body>
</html>