<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
</head>
<body>
  <table id="movie">
    <tr>
      <th>Movie ID</th>
      <th>Name</th>
      <th>Release Date</th>
    </tr>

  </table>
</body>
</html>